# Python & IDE artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Environment Folders
msc_*/
.env
venv/

# Data Files & Large Files (DO NOT TRACK)
Dissertation_Data/
data/Androids-Corpus/
*.zip

# Ignore the very large raw sequence file, but track the others
features_wav2vec2_sequences_reading_task.pkl