# Python & IDE artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Environment Folders
msc_*/
.env
venv/

# Data Files & Large Files
Dissertation_Data/
data/Androids-Corpus/
*.zip

# Ignore the very large raw sequence file
features_wav2vec2_sequences_reading_task.pkl
features_wav2vec2_sequences_interview_clips.pkl
